.box-news {
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
  justify-items: center;

  border-radius: 8px;

  width: 280px;
  height: 420px;

  box-shadow: 0 0 1em rgb(216, 216, 216);
}

p,
span,
button {
  font-family: poppins, sans-serif;
}
